[submodule "lib/Dobby"]
	path = lib/Dobby
	url = https://github.com/jmpews/Dobby.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tools/vendor/insert_dylib"]
	path = tools/vendor/insert_dylib
	url = https://github.com/tyilo/insert_dylib.git
